#canvas-container {
    width: 100%;
    position: relative;
 }

 #canvas-container-wrapper {
    width: 100%;
    overflow-x:scroll;
    width:100%;
    position: relative;
 }

 @media (max-width: 768px) {
     #canvas-container {
        height: 50vh;
        width: 100vh;
      }
 }

 @media (max-width: 768px) {
    #canvas-containe-wrapperr {
       height: 50vh;
     }
}

